<div class="row"    >
    <div class="col-md-6 mt-2 mx-auto">
        <div class="card" style="border: none !important;">
            <div class="card-body">                    
                <h5 class="card-title h2 text-center my-4">This is my-ui</h5>
                <p class="card-text text-center">        
                    With the help of this library, you can create simple html elements and components with ease, and reuse them in your projects.
            </div>
        </div>
    </div>
</div>